body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/img/01e0fec5315cd7f4febb8f4000045f21.jpg);;
  background-size: 100%;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.container2 {
  max-width: 650px;
  margin: 40px auto;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.caixa {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


h1,
h2,
h3 {
  text-align: center;
  color: rgb(2, 2, 2);
}

form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="number"] {
  display: block;
  text-align: center;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1px none #ccc;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

form input[type="submit"],
form button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1px none #ccc;
  border-radius: 25px;
  justify-content: space-between;
}

button,
input[type="submit"] {
  background-color: #007bff;
  color: rgb(33, 32, 32);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

button:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background: rgb(205, 200, 200);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  background-color: rgb(117, 114, 114);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

menu {
  display: flex;
  padding-right: 38px;
  justify-content: space-between;
  margin-top: 10px;
}

menu button {
  width: 48%;
}
img {
  text-align: center;
}
