* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --cor-primaria: #4c1e1e;
    --cor-secundaria: #f9f9f9;
    --cor-terciaria: rgb(228, 228, 228);
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #fd1d1d;
    background: linear-gradient(
      90deg,
      rgba(253, 29, 29, 1) 35%,
      rgba(252, 176, 69, 1) 58%
    );
    color: var(--cor-secundaria);
  }
  
  h1 {
    text-align: center;
    margin: 0px;
    margin-top: 13px;
    color: var(--cor-terciaria);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
  
  fieldset {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 12px;
  }
  
  button {
    margin: 22px;
  }
  
  #entrar {
    color: var(--cor-primaria);
  
    text-align: center;
  }
  
  input,
  textarea {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: var(--cor-secundaria) 1px solid;
    border-radius: 5px;
    padding: 6px;
  }
  
  input::placeholder {
    color: var(--cor-secundaria);
  }
  
  input[type="text"] {
    margin-top: 20px;
    width: 400px;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #221010;
    border-radius: 10px;
    text-align: center;
    border-color: #b57375;
  }
  
  .btn:hover {
    background-color: #7c1d1d;
    color: var(--cor-secundaria);
    cursor: pointer;
  }
  .moldura {
    border-style: solid;
    border-radius: 10px;
    border-color: var(--cor-terciaria);
    border-width: 10px;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: #221010;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.852);
  }
  
  h2 {
    i {
      color: rgb(228, 228, 228);
      margin-right: 0%;
    }
  }
  
  #email {
    border-color: #b57375;
    border-radius: 10px;
    background-color: #221010;
  }
  #password {
    border-color: #b57375;
    border-radius: 10px;
    background-color: #221010;
  }
  .input-icon i {
    color: var(--cor-terciaria);
  }

  .container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  